 
 {%extends 'base.html'%}
 {%block title%} About  {%endblock%}
 {%block contents%}
<h3 pt-2 >About Smart Study Planner</h3>
<p>Welcome to your Smart Study Planner,<br>
     A note adding and study  scheduling system designed 
    to eliminate academic stress and maximize your learning potential.
    </p>
    <p>
     Moving beyond static calendars, this platform acts as a dynamic academic
    platform that show your study progress as you added your study session,notes,plans.<br>
     It is your  personalized study roadmap. 
  </p>
{%endblock%}