{%extends 'base2.html'%}
         {%block title%} Admin Dashboard {%endblock%}

         {%block contents%}
<div class="main-content">


<h4 class="page-title">
    Dashboard
</h4>

<h5>All data at one:</h5>



<div class="row mt-4 g-4 ">


    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 ">
        <div class="card stat-card p-4">
            <h6>Total Users</h6>
            <h2>{{ user_count }}</h2>
        </div>
    </div>



    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="card stat-card p-4">
            <h6>Total Subjects</h6>
            <h2>{{ subject_count }}</h2>
        </div>
    </div>



    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="card stat-card p-4">
            <h6>Total Tasks</h6>
            <h2>{{ task_count }}</h2>
        </div>
    </div>



    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="card stat-card p-4">
            <h6>Total Notes</h6>
            <h2>{{ note_count }}</h2>
        </div>
    </div>



    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="card stat-card p-4 ">
            <h6>Total Plans</h6>
            <h2>{{ plan_count }}</h2>
        </div>
    </div>


</div>


</div>


{%endblock%}
