<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Myapp{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='responsive.css') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>

    {% if not hide_nav %}
        {% include 'nav.html' %} 
    {% endif %}
     {% block styles %} {% endblock %}
   
    <div class="container">
        {% block contents %}{% endblock %}
    </div>

</body>
</html>
